.items {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.item {

}

@media screen and (max-width: 768px) {
  .items {
    width: 95%;
  }
}
