.loader {
  width: 100%;
  padding: 30px;
  text-align: center;
  font-weight: 700;
}
.loader img {
  width: 90%;
  display: block;
  max-width: 500px;
  margin: 0 auto;
  transform: scaleX(-1);
  margin-top: -10px;
}

.loader .loading {
  font-size: 30px;
  margin-bottom: 10px;
}
