.home .homeContainer{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.home .homeContainer .homeItem{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid red;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}

.home .homeContainer .homeItem img{
  width:100%;
  position: absolute;
  z-index: 1;
  opacity: 0.4;
}

.home .homeContainer .homeItem h2{

  z-index: 10;
}
