.monsters {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.card {
  border: 1px solid red;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
