.monsterImage {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

.icon {
  width: 20px;
}

.rewards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.weaknesses {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ffaf3f;
  margin: 5px 0 5px 10px;
  width: fit-content;
}

.weakness {
  display: flex;
  justify-content: center;
  gap: 2px;
}
