.specie {
  text-transform: capitalize;
}
.monsterImage {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

.icon {
  width: 25px;
}

.rewards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.weaknesses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ffaf3f;
  margin: 5px 0 5px 10px;
  width: fit-content;
  color: #9e5c00;
}

.weakness {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.monsterPage h2 {
  margin-top: 15px;
}

.monsterPage h3 {
  text-transform: capitalize;
  margin-left: 10px;
}
