.monsterImage {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

.icon {
  width: 20px;
}

.rewards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.reward {

}
