.sets {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.set {
  display: block;
  width: fit-content;
  background: #fff8ee55;
  border-radius: 15px;
  padding: 10px;
  transition: all 0.2s ease;
  width: 90%;
}

.set:hover {
  scale: 1.02;
}

.pieces {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pieceImg {
  width: 200px;
}

.resistances {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ffaf3f;
  margin: 5px 0 5px 10px;
  width: fit-content;
}

.resistance {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.negative {
  color: red;
}

.resistanceIcon {
  width: 15px;
}

.pagesNumber {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selected {
  text-decoration: underline;
  font-weight: 700;
  text-shadow: 1px 1px 2px #00fa;
}

@media screen and (max-width: 768px) {
  .pieceImg {
    width: 100px;
  }
  .set {
    width: 100%;
  }
}
