nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.logo {
  width: 50px;
  margin: -10px;
}

.header ul {
  display: flex;
  gap: 25px;
  list-style: none;
}
.header ul li {
  text-transform: capitalize;
  color: #502d00;
  /* font-weight: 700; */
  font-size: 20px;
  transition: all 0.2s ease;
}

.header ul .active {
  font-weight: bolder;
  position: relative;
}

.header ul .active::before {
  content: "";
  width: 2px;
  background-color: #502d00;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -7px;
}

.header ul .active::after {
  content: "";
  width: 2px;
  background-color: #502d00;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -7px;
}

.header ul li:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 3px 0;
}

@media screen and (max-width: 768px) {
  .header ul {
    display: none;
  }

  .header ul.active {
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
    position: absolute;
    top: 63px;
    /* width: 100%; */
    right: 10px;
    text-align: center;
    z-index: 10;
    background: #ffbd60f1;
    border-radius: 20px;
    border: 1px solid #ffd7a2;
  }

  .menu-toggle {
    display: flex;
  }
}
