nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.logo {
  width: 40px;
  margin: -10px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
