nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.logo {
  width: 40px;
  margin: -10px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu-toggle {
  display: none;

  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 3px 0;
}

@media screen and (max-width: 768px) {
  ul {
      display: none;
    }

    ul.active {
      display: flex;
      flex-direction: column;
      width: fit-content;
      padding: 20px 80px;
      position: absolute;
      top: 44px;
      right: 0;
      text-align: center;
      z-index: 10;
      box-shadow: -8px 8px 22px 0 rgba(31, 38, 135, 0.37);
      background: #ffbd60f1
  }

  .menu-toggle {
      display: flex;
  }
}
