@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Skranji&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mooli", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "Skranji", cursive;
}

h1 {
  letter-spacing: 2px;
}

.button {
  padding: 5px 10px;
  background-color: #ffb14398;
  border-radius: 20px;
  width: fit-content;
  display: inline-block;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #9e5c0098;
  /* box-shadow: 2px 2px 10px #0008; */
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  justify-content: center;
  padding: 20px;
  background-color: #ffaf3f33;
  border: 1px solid #ffaf3f;
  border-radius: 20px;
  margin: 20px 10px;
}

.input {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 30%;
}

.range {
  width: 100%;
}

input[type="text"],
select,
option {
  background-color: transparent;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Mooli", sans-serif;
}

input[type="text"]:focus,
select:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .inputs {
    flex-direction: column;
  }
  .input {
    width: 100%;
    gap: 20px;
  }
}
