@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Skranji&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mooli", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "Skranji", cursive;
}

h1 {
  letter-spacing: 2px;
}
