.weaponPage img {
  display: block;
  margin: 0 auto;
}

.weaponPage .damageType {
  text-transform: capitalize;
}

.weaponPage .weaponElement {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}
